[defaults]
collections_path = ./ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
local_tmp = /tmp/.ansible/tmp
remote_tmp = /tmp/.ansible/tmp
fact_caching = jsonfile
fact_caching_connection = ./.ansible/facts
fact_caching_timeout = 86400
gathering = explicit
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
force_valid_group_names = ignore

[ssh_connection]
pipelining = True
ssh_args = -o BatchMode=yes
