apiVersion: v1
kind: Secret
metadata:
  name: {{ rke2_cluster_domain | replace('.', '-') }}
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: cluster
    infrastructure.wmsdev.pl/cluster: "{{ rke2_cluster_domain }}"
    intrastructure.wmsdev.pl/cluster-group: "{{ argocd_cluster_group }}"
type: Opaque
stringData:
  name: "{{ rke2_cluster_domain | replace('.', '-') }}"
  server: "https://{{ rke2_api_fqdn }}:6443"
  config: |
    {
      "bearerToken": "{{ _argocd_sa_token }}",
      "tlsClientConfig": {
        "insecure": false,
        "caData": "{{ _argocd_ca_data }}"
      }
    }
