apiVersion: v1
kind: Secret
metadata:
  name: infra-helm-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: https://github.com/WMS-DEV/infra-helm.git
  githubAppID: "{{ _argocd_vault_creds.app_id }}"
  githubAppInstallationID: "{{ _argocd_vault_creds.installation_id }}"
  githubAppPrivateKey: |
    {{ _argocd_vault_creds.private_key | indent(4) }}
